@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
    margin: 0%;
    background: url("../static/images/admission-background.jpg");
    background-size: 1550px;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.logoimg {
    width: 50px;
}

#headerdiv {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: -6px;
}

#logoanchor {
    justify-content: center;
    margin: 0 45%;
}

.logodiv a {
    display: flex;
    align-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 0 1%;
    margin-top: 10px;
}

nav div {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 1vw;
}

nav div a {
    width: 100%;
    justify-content: center;
    padding: 0.5vw 0;
    font-size: 25px;
    color: aliceblue;
}

nav div a:hover {
    color: #9a938d;
    /* border: 1px solid #cdd7e9; */
}

.downarrowimg {
    width: 20px;
    height: 12px;
    padding-top: 11px;
    padding-left: 15px;
}

footer {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 3.875rem 0;
    flex-direction: column;
    padding-bottom: 14px;
}

#footerlogo {
    width: 30%;
}

#footerupperdiv {
    display: flex;
    flex-direction: row;
    width: 80%;
}

#footersocials {
    display: flex;
    flex-direction: row;
    width: 40%;
}

#footersocials>div {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#footersocials>div>a {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.socialsimg {
    width:38px;
}

#footercopyright {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 500;
    font-size: 1.5vw;
}

#termprivacydiv {
    margin-top: 21px;
}

#termprivacy {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1.2px;
}